In [ ]:
【Day 3】
【dict字典】
定义
创建
字典的相关方法
-----------------------------------
【set集合】
特性
创建
方法
-------------------------------------
【file文件读取】
 打开文件方式（读写两种方式）
文件对象的操作方法
学习对excel及csv文件进行操作
--------------------------------------
【作业构想】
学习代码200-300行
读取一个文件【文件将在之后给出】，将文件中转换为字典，key值为学习项目，value值为一个负责人列表，并判断字典中是否有负责人负责多个学习项目。
-------------------------------------
【作业提交时间】
2019年1月28日24：00
注意：未完成者将会被清退
------------------------------------
【点评】
完成时间：2019年1月29日12：00
注意：未完成竟会被清退

In [ ]:
字典是另一种可变容器模型，且可存储任意类型对象。
字典的每个键值 key=>value 对用冒号 : 分割，每个键值对之间用逗号 , 分割，整个字典包括在花括号 {} 中 ,格式如下所示：

In [2]:
dict1={'a':1,'b':2,'c':3}

In [3]:
dict1['a']

1

In [ ]:
# 访问字典里的值

In [4]:
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}

In [6]:
print('Name:',dict['Name'])

Name: Zara

In [ ]:
# 修改字典

In [ ]:
#向字典添加新内容的方法是增加新的键/值对，修改或删除已有键/值对如下实例:

In [ ]:
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}

In [7]:
dict['Age']=8 #对字典修改

In [8]:
dict

{'Name': 'Zara', 'Age': 8, 'Class': 'First'}

In [9]:
dict['school']='蓝翔' 3对字典添加元素

In [10]:
dict

{'Name': 'Zara', 'Age': 8, 'Class': 'First', 'school': '蓝翔'}

In [ ]:
# 删除字典元素

In [ ]:
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}

In [11]:
del dict['Name'] #删除元素

In [12]:
dict

{'Age': 8, 'Class': 'First', 'school': '蓝翔'}

In [14]:
dict.clear() #清空所有元素

In [15]:
dict

{}

In [16]:
del dict #删除元素

In [ ]:
'''
字典键的特性
字典值可以没有限制地取任何python对象，既可以是标准的对象，也可以是用户定义的，但键不行。
两个重要的点需要记住：
'''

In [25]:
# 键必须不可变，所以可以用数字，字符串或元组充当，所以用列表就不行，如下实例：

In [28]:
dict = {['Name']: 'Zara', 'Age': 7} 
print "dict['Name']: ", dict['Name']

SyntaxError: Missing parentheses in call to 'print'. Did you mean print("dict['Name']: ", dict['Name'])? (<ipython-input-28-c2a3edb7d753>, line 2)

# 字典内置函数&方法

In [ ]:
1 cmp(dict1, dict2) 比较两个字典元素
2 len(dict)  计算字典元素个数，即键的总数。
3 str(dict) 输出字典可打印的字符串表示。
4 type(variable) 返回输入的变量类型，如果变量是字典就返回字典类型。

# set 集合

In [ ]:
'''
集合（set）是一个无序的不重复元素序列。
可以使用大括号 { } 或者 set() 函数创建集合，注意：创建一个空集合必须用 set() 而不是 { }，因为 { } 是用来创建一个空字典。
创建格式：
'''

In [29]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}

In [30]:
print(basket) #这里演示的是去重功能

{'apple', 'banana', 'pear', 'orange'}

In [32]:
'orange' in basket  #判断元素是否在集合内

True

In [35]:
'nike' in basket

False

集合的基本操作
1.添加元素

In [36]:
thisset = set(("Google", "Runoob", "Taobao"))

In [37]:
thisset.add('jingdong')

In [38]:
thisset

{'Google', 'Runoob', 'Taobao', 'jingdong'}

In [ ]:
# 还有一个方法，也可以添加元素，且参数可以是列表，元组，字典等，语法格式如下：

In [41]:
thisset.update({1,3})

In [42]:
print(thisset)

{'Google', 1, 'jingdong', 3, 'Runoob', 'Taobao'}

In [ ]:
2 #移除元素

In [43]:
thisset = set(("Google", "Runoob", "Taobao"))

In [44]:
thisset.remove('Google')

In [45]:
thisset

{'Runoob', 'Taobao'}

In [ ]:
# 3、计算集合元素个数

In [46]:
thisset = set(("Google", "Runoob", "Taobao"))

In [47]:
len(thisset)

3

In [49]:
# 4 清空元素

In [50]:
thisset.clear()

In [51]:
thisset

set()

In [ ]:
集合内置方法完整列表
add()         为集合添加元素
clear()       移除集合中的所有元素
copy()        拷贝一个集合
difference()  返回多个集合的差集
discard()     删除集合中指定的元素
intersection()返回集合的交集
intersection_update()	删判断两个集合是否包含相同的元素，如果没有返回 True，否则返回 False
isdisjoint()         除集合中的元素，该元素在指定的集合中不存在            
issubset()           	判断指定集合是否为该方法参数集合的子集

# 文件读取

In [ ]:
# 1 打开文件方式（读写两种方式）

In [82]:
fo=open('foo.txt','w')

In [83]:
print( "文件名: ", fo.name)

文件名:  foo.txt

In [84]:
fo.write( "www.runoob.com!\nVery good site!\n")

32

In [81]:
# close 方法

In [80]:
'''
write()方法可将任何字符串写入一个打开的文件。
需要重点注意的是，Python字符串可以是二进制数据，而不是仅仅是文字。
write()方法不会在字符串的结尾添加换行符('\n')：
'''

In [ ]:
# 打开一个文件夹

In [86]:
fo = open("foo.txt", "w")

In [88]:
print ("文件名: ", fo.name)

文件名:  foo.txt

In [ ]:
# 关闭打开的所在文件夹

In [89]:
fo.close()

In [ ]:
# write 方法

In [ ]:
"""
write()方法可将任何字符串写入一个打开的文件。需要重点注意的是，Python字符串可以是二进制数据，而不是仅仅是文字。
write()方法不会在字符串的结尾添加换行符('\n')：
语法：
"""

In [90]:
fo=open('foo.txt','w')

In [91]:
fo.write( "www.runoob.com!\nVery good site!\n")

32

In [92]:
fo.close()

In [ ]:
# read方法

In [ ]:
#read（）方法从一个打开的文件中读取一个字符串。需要重点注意的是，Python字符串可以是二进制数据，而不是仅仅是文字。语法：

In [ ]:
# fileObject.read([count])

In [93]:
fo = open("foo.txt", "r+")

In [94]:
str = fo.read(10)

In [95]:
print('读取的字符是:',str)

读取的字符是: www.runoob

In [ ]:
# 关闭打开的文件夹

In [96]:
fo.close()

# 学习对excel及csv文件进行操作

In [148]:
import pandas as pd

In [156]:
df=pd.read_excel('C:/Users/Administrator/Desktop/kobe/exmple.xlsx')

In [157]:
df

    姓名    年龄                  出生日  爱好  关系
0   小王    21  1999-09-09 00:00:00  篮球  朋友
1   小刘    22  2000-05-05 00:00:00  篮球  朋友
2   小李    23  2001-03-04 00:00:00  篮球  朋友
3  小王八  2000             1000/3/8  睡觉  个人

In [161]:
data=df.head()#默认读取前五行数据

In [162]:
data

    姓名    年龄                  出生日  爱好  关系
0   小王    21  1999-09-09 00:00:00  篮球  朋友
1   小刘    22  2000-05-05 00:00:00  篮球  朋友
2   小李    23  2001-03-04 00:00:00  篮球  朋友
3  小王八  2000             1000/3/8  睡觉  个人

# 作业

In [167]:
lines={}

In [168]:
b=[]

In [169]:
f=open('kg.txt','r')

In [171]:
for line in f.readlines():
    line=line.strip()
    k=line.split()[0]
    v1=line.split()[1]
    v2=line.split()[2]
    v=v1+" "+v2
    b.insert(-1,v1)
    b.insert(-1,v2)
    lines[k] = v

In [173]:
f.close()

In [174]:
print(lines)

{}

In [175]:
c=set(b)

In [176]:
print(c)

set()

In [177]:
if len(c) < 18:
    print("\n有人重复了")
else:
    print("\n没有人重复")

有人重复了